
.contentContato {
    background-color: #FFF;
    /* background-color: #F9F9F9; */
    /* background-color: #ff8478; */
    /* background-color: #ffbbbb39; */
    /* background-color: #DA7E78; */
    /* background-color: #cb4d46dc; */
    /* background-color: #FF5C4D; */
    /* background-color: #DB4F42; */
    /* background-color: #bc4c04; */
    /* background-color: #fcae7d; */
    /* background-color: #6f2f07; */
    /* background-color: #953c03; */

    /* be4a04 para o background*/
    /* background-image: url(../../Images/fundo1.jpg); */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 1px solid #111;
}

/* .contentContato h1{
    text-align: center;
} */

.blocoForm {
    max-width: 500px;
}

form {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* background-color: antiquewhite; */
}

form h1 {
    text-align: center;
    padding: 30px 0;
    /* background-color: #cb4c46; */
}

.inputForm {
    margin: 0 0 15px 0;
    padding: 10px 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #111;
    /* border: none; */
}

.inputForm:focus {
    outline: 0;
}

.botaoSubmit {
    width: 130px;
    height: 40px;
    font-size: 18px;
    /* line-height: 40px; */
}

.boxTelefone {
    display: flex;
}

.boxContato h2 {
    margin: 10px 5px;
}
.boxContato p {
    padding: 5px;
}

.boxInfo {
    display: flex;
    border-bottom: 2px solid #ff8478;
}

.icone {
    /* height: 50px; */
    /* width: 50px; */
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    /* background: #e6e7e8; */
    /* background: #E0A5A3; */
    /* border-radius: 50%; */
    margin-top: 5px;
}

.mapa{
    background-color: #FFF;
}

.mapa h3{
    text-align: center;
    padding: 10px;
    background-color: #FFF;
    color: #DB4F42;
    border-top: 1px solid #111;
}

iframe {
    width: 100%;
    height: 400px;
}