.secaoSlidePaginaInicio{
  background-image: url(../../public/picture/image5.png);
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: overlay;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: subirDescer 6s infinite alternate;
}

.infoSlide{
  text-align: center;
  width: 70%;
  padding-top: 22px;
}

.infoSlide h1 {
  padding-bottom: 25px;
  color: #FFF;
  font-size: 27px;
}

.botaoSaibaMais {
  font-size: 22px;
  padding: 10px;
  color: #FFF;
  background-color: #ffffff00;
  border-radius: 10px;
  border: 1px solid #FFF;
  cursor: pointer;
}
/* acaba a seção */

/* outra secao */
.infoSectionProdutos {
  position: relative;
  overflow: hidden;
  background-color: #FFF;
  padding: 1.8rem 1.8rem;
}

.circuloUm{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cb4d46dc;
  clip-path: circle(20% at bottom right);
}
.circuloDois{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cb4d46dc;
  clip-path: circle(15% at top left);
}

.tituloProdutos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tituloProdutos h2 {
  padding-left: 6px;
  font-size: 30px;
  border-left: 3px solid #cb4d46dc;
}

.tituloProdutos p {
  /* padding-top: 2rem; */
  padding: 2rem 7rem 0 7rem;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  z-index: 3;
}

.SectionProdutosPaginaHome {
  display: flex;
  flex-direction: column;
}

.produtos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
}

.botaoParaPaginaProdutos {
  display: flex;
  justify-content: center;
}

.botaoVerMaisProdutos{
  display: inline-block;
  font-size: 18px;
  padding: 10px;
  text-align: center;	
  text-decoration: none;
  outline: none;
  background-color: #FFF;
  color: #111;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #111;
  text-transform: uppercase;
  font-weight:700;
}

.botaoVerMaisProdutos:focus, .botaoVerMaisProdutos::-moz-focus-inner{
  outline:none;
  border:none;
}
.btn{
  background:rgb(255, 255, 255);
  box-shadow:0 5px 0 #2c2c2c;
}
.btn:hover{
  background:#FFF;
  box-shadow:0 8px 0 #2c2c2c;
}
.btn:active{
  position:relative;
  top:5px;
  box-shadow:none;
}
/* acaba secao */

/* outra seção */
.secaoBaixarCatalogo {
  position: relative;
  background-color: #111;
  background: linear-gradient(146deg, rgba(17,17,17,1) 60%, rgba(255,255,255,1) 40%);
  color: #FFF;
  height: 355px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.circuloTres{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cb4d46dc;
  clip-path: circle(15% at bottom left);
}
.circuloQuatro{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cb4d46dc;
  clip-path: circle(20.45% at top right);
}

.infoCatalogo h3 {
  font-size: 2.25rem;
  padding-bottom: 0.938rem;
}

.container {
  width: 10rem;
	display: flex;
	align-items: center;
  justify-content: center;
}
.animated-word {
	/* letter-spacing: 0.4em; */
	font-weight: 500;
	font-size: 1.5rem;
	text-align: center;
	color: #FFF;
  cursor: pointer;
  max-width: 600px; 
  width: 100%; 
  outline: 3px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 20px;
  
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.animated-word:hover {
	color: rgba(255, 255, 255, 0.7);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 300px;
}
/* acaba secao */

@keyframes subirDescer {
  0% {
      background-position-y: 100%;
  }

  20% {
      background-position-y: 100%;
  }

  40% {
      background-position-y: 100%;
  }

  100% {
      background-position-y: 0%;
  }
}

@media screen and (max-width: 785px) {
  .secaoBaixarCatalogo{
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .infoCatalogo{
    text-align: center;
  }
  .produtos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infoSectionProdutos h2 {
    border-left: 3px solid #f30d01dc;
  }
  .circuloUm{
    z-index: 0;
  }
  .circuloDois{
    z-index: 0;
  }
  .botaoVerMaisProdutos{
    z-index: 2;
  }
  .tituloProdutos p {
    padding-top: 2rem;
    padding: 2rem 0 0 0;
  }
  .tituloProdutos h2,
  .tituloProdutos p{
    z-index: 2;
    font-weight: 5600;
  }
}