.secaoSlidePaginaInicio{
  background-image: url(../../public/trabalhador.jpg);
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: overlay;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: subirDescer 6s infinite alternate;
}

.infoSlide{
  text-align: center;
  width: 70%;
  padding-top: 22px;
}

.infoSlide h1 {
  padding-bottom: 25px;
  color: #FFF;
  font-size: 27px;
}
/* .infoSlide p {
  color: #FFF;
  font-size: 22px;
} */
.botaoSaibaMais {
  font-size: 22px;
  padding: 10px;
  background-color: #FFF;
  border-radius: 5px;
  border: none;
}
/* acaba a seção */

/* outra secao */
.infoSectionProdutos {
  position: relative;
  overflow: hidden;
  background-color: #FFF;
  padding: 1.8rem 1.8rem;
}

.circuloUm{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cb4d46dc;
  clip-path: circle(20% at bottom right);
}
.circuloDois{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cb4d46dc;
  clip-path: circle(15% at top left);
}

.tituloProdutos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoSectionProdutos h2 {
  padding-left: 6px;
  /* padding-top: 10px; */
  font-size: 30px;
  /* text-align: center; */
  border-left: 3px solid #cb4d46dc;
}

.infoSectionProdutos p {
  padding-top: 2rem;
  font-size: 18px;
  /* border-bottom: 1px solid #111; */
  text-align: center;
}

.SectionProdutosPaginaHome {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.produtos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
}

.ItemImagem1 {
  border: 2px solid #111;
  height: 250px;
  overflow: hidden;
  background-image: url(../../public/ImgemIlustrativa3.jpeg);
  background-size: cover;
  background-position-y: 60%;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;

  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}
.ItemImagem1:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.ItemImagem2 {
  border: 2px solid #111;
  height: 250px;
  background-image: url(../../public/acoplamento-de-correntes.png);
  background-size: cover;
  /* background-size: contain;
  background-repeat: no-repeat; */
  background-position-y: 30%;
  /* display: flex;
  align-items: flex-end; */
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;

  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}
.ItemImagem2:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.ItemImagem3{
  border: 2px solid #111;
  height: 250px;
  background-image: url(../../public/corrente-de-transmissao.png);
  /* background-size: cover; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 50%;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;

  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}
.ItemImagem3:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.ItemImagem4{
  border: 2px solid #111;
  height: 250px;
  background-image: url(../../public/ImgemIlustrativa4.jpeg);
  background-size: cover;
  /* background-size: contain;
  background-repeat: no-repeat; */
  background-position-y: 60%;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;

  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}
.ItemImagem4:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.tituloDaImagem {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFF;
  border-top-right-radius: 20px;
}

/* .ItemImagem {
  border: 2px solid #111;
  height: 150px;
} */

.botaoParaPaginaProdutos {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* padding-left: 100px; */
}

.botaoVerMaisProdutos{
  font-size: 18px;
  padding: 10px;
  background-color: #FFF;
  /* background-color: #cb4c46;
  color: #FFF; */
  border-radius: 5px;
  cursor: pointer;
}
.botaoVerMaisProdutos a {
  color: #111;
  text-decoration: none;
}
/* acaba secao */

/* outra seção */
.secaoBaixarCatalogo {
  /* background: linear-gradient(146deg, rgba(17,17,17,1) 55%, rgba(255,255,255,1) 55%); */
  background: linear-gradient(146deg, rgba(0,0,0,1) 50%, rgba(255,241,150,1) 50%);
  color: #FFF;
  height: 355px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.infoCatalogo h3 {
  font-size: 36px;
  padding-bottom: 15px;
}

.botaoCatalogo {
  font-size: 18px;
  padding: 10px;
  background-color: #FFF;
  border-radius: 5px;
  cursor: pointer;
}
/* acaba secao */

@keyframes subirDescer {
  0% {
      background-position-y: 100%;
  }

  20% {
      background-position-y: 100%;
  }

  40% {
      background-position-y: 100%;
  }

  100% {
      background-position-y: 0%;
  }
}