.primeiraSecao{
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 30px 0;
}
.primeiraSecao p{
    font-weight: 400px;
}

.infoSecaoUm{
    max-width: 1260px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aondeAtuamos{
    padding-right: 3.12rem;
}

.aondeAtuamos h1{
    padding-bottom: 20px;
}

.imagemUm img{
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: center; */

}
/* Acaba a primeira seção */

/* Começa a segunda seção */
.segundaSecao{
    background-color: #cccccc44;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0 30px 0;
}

.infoSecaoDois{
    max-width: 1260px;
    display: flex;
    justify-content: space-evenly;
}

.aondeAtuamosDois{
    padding-left: 3.12rem;
}

.imagemDois img{
    height: 100%;
    width: 100%;
    display: flex;
}

@media screen and (max-width: 785px) {
    .infoSecaoUm{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .aondeAtuamos{

        padding-right: 0;
    }
    .infoSecaoDois{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .aondeAtuamosDois{
        padding: 0 0 0 0;
    }
  }